#ft {
    padding: 21px 0 23px;
    border-top: 1px solid #CDCDCD;
    line-height: 1.8;
    color: #7E7E7E;
    background-color: #2F2F2F;
}
#ft .wp, #category_lk .wp {
    width: 960px;
    margin: 0 auto;
}
#flk {
    text-align: center;
    font-size: 12px;
}
fieldset, img {
    border: 0;
}
#flk a {
    color: #cdcdcd;
}
a, ins {
    text-decoration: none;
    color: #000000;
}
a {
    color: #8F8F8F;
    text-decoration: none;
}
.pipe {
    margin: 0 5px;
    color: #CCC;
}
#flk img {
    vertical-align: middle;
}
a img {
    border: none;
}
#scrolltop {
    visibility: hidden;
    position: fixed;
    bottom: 105px;
    display: block;
    margin: -30px 0 0 10px;
    width: 47px;
    border: 0px #cdcdcd solid;
    border-radius: 3px;
    border-top: 0;
    cursor: pointer;
}
#scrolltop a {
    display: block;
    width: 37px;
    height: 40px;
    line-height: 12px;
    text-align: center;
    color: #787878;
    text-decoration: none;
    background: url(http://static.bbs.miui.com/static/image/miui/base/scrolltop.png) no-repeat 0 0;
    border-top: 0px #cdcdcd solid;
}
a, ins {
    text-decoration: none;
    color: #000000;
}
a {
    color: #8F8F8F;
    text-decoration: none;
}
#scrolltop a b {
    visibility: hidden;
    font-weight: normal;
}