body {
    background: #F8F8F8;
    display: block;
}
body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc {
    margin: 0;
    padding: 0;
}
body, input, button, select, textarea {
    font: 12px/1.5 Microsoft YaHei,Tahoma,Helvetica,'SimSun',sans-serif;
    color: #444;
}
* {
    word-wrap: break-word;
}
#ajaxwaitid {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 0 5px;
    background: #D00;
    color: #FFF;
}
#toptb {
    background: #f3f3f3;
    border-bottom: 1px solid #ebebeb;
}
#toptb {
    padding: 0 10px;
    border-bottom: 1px solid #CDCDCD;
    background: url(../images/profile/topnav.png) repeat-x;
}
#toptb {
    min-width: 960px;
    border-bottom: 1px solid #CDCDCD;
    background: #F7F7F7;
    line-height: 28px;
}
.cl {
    zoom: 1;
}
.y {
    float: right;
}
#toptb a {
    float: left;
    padding: 0 4px;
    height: 28px;
}
.cl a {
    color: #8d8d8d;
}
.xw1 {
    font-weight: 700;
}
a {
    color: #069;
}
a {
    color: #8F8F8F;
    text-decoration: none;
}
#toptb a.showmenu {
    padding-right: 15px;
}
#toptb .showmenu {
    background: url(../images/perspace/scr_arrow_down.png) no-repeat 56px 12px;
}
.cur1 {
    cursor: pointer;
}
.showmenu {
    padding-right: 16px;
    background: url(../images/perspace/arrwd.gif) no-repeat 100% 50%;
    cursor: pointer;
    white-space: nowrap;
}
#diy-tg {
    line-height: 30px;
    background: url(../images/perspace/panel-toggle-space.png) no-repeat 100% 2px;
    padding: 0 4px !important;
    width: 56px;
    text-indent: -9999px;
    overflow: hidden;
}
.z {
    float: left;
}
.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#hd {
    background: transparent;
}
#hd {
    margin-top: 30px;
    width: 948px;
    height: 133px;
    color: #069;
}
#hd {
    margin-bottom: 0;
    position: relative;
    height: 140px;
}
#hd {
    min-width: 960px;
    border-bottom: 0 solid #C2D5E3;
    background: url("../images/perspace/nv.png") 0 116px repeat-x;
    height: 164px;
}
.wp {
    margin: 0 auto;
    width: 960px;
}
#space #hd h2 {
    margin-top: 0;
}
#hd h2 {
    padding: 20px 0 0 4px;
    line-height: 115%;
}
#hd h2 {
    padding: 25px 0 0 15px;
    font-size: 14px;
}
#hd h2 {
    padding: 0 20px 0 0;
    float: left;
    height: 100px;
}
#spaceinfoshow {
    position: relative;
}
#hd h2 strong {
    display: block;
}
#spacename {
    font-size: 36px;
    color: black;
    font-weight: normal;
}
.mbn {
    margin-bottom: 5px !important;
}
#spaceinfoshow .xw0 {
    margin-left: 0px;
}
#spaceinfoshow .xs0 {
    margin-top: 15px;
}
#hd h2 span {
    display: block;
}
.xw0 {
    font-weight: 400;
}
.xs0 {
    font-family: Tahoma,Helvetica,sans-serif;
    font-size: 0.83em;
    -webkit-text-size-adjust: none;
}
#spaceinfoshow a {
    font-size: 14px;
    color: #838383;
    font-family: 'Microsoft YaHei';
}
.pipe {
    margin: 0 5px;
    color: #CCC;
}
.mtn {
    margin-top: 5px !important;
}
#nv {
    bottom: 0px;
    background: #fd6440;
    border-radius: 5px;
    width: 950px;
    left: 5px;
}
#nv {
    position: absolute;

    height: auto;

}
#nv {

    margin-top: 6px;
}
#nv li {
    height: 45px;
    line-height: 45px;
    background: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #00FFFFFF, endColorstr = #00FFFFFF);
    font-size: 14px;
    color: white;
}
#nv li, #home {
    margin-right: 1px;
    padding: 0 6px;
    border: none;
    height: 30px;
    /* background: rgba(255,255,255,0.7); */
    line-height: 30px;
    font-size: 12px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #70FFFFFF,endColorstr = #70FFFFFF);
}
#nv li {
    float: left;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
}
ul li, .xl li {
    list-style: none;
}
#nv li a, #nv li a:visited {
    color: white;
}
#nv a, #nv a:visited {
    padding: 0 14px;
    color: #333;
}
#nv li a {
    color: #FFF;
}
#nv li a {
    float: left;
    padding: 0 16px;
}
ul li a {
    color: #8d8d8d;
}
#mn_userapp_menu {
    clear: left;
    min-height: 210px;
    min-width: 630px;
}
.facel {
    padding: 8px;
    width: 240px;
}
.p_pop li {
    display: inline;
}
.facel img {
    margin: 5px;
}
.p_pop {
    border-radius: 5px;
}
.h_pop {
    min-width: 120px;
    border-top: none;
}
.p_pop, .p_pof, .sllt {
    padding: 4px;
    border: 1px solid;
    min-width: 60px;
    border-color: #DDD;
    background: #FEFEFE;
    -webkit-box-shadow: 0px 6px 24px -4px gray;
    -moz-box-shadow: 0px 6px 24px -4px gray;
    box-shadow: 0px 6px 24px -4px gray;
}
.p_pop li {
    display: inline;
}
#myspace_menu li a, #navs_menu li a {
    background-repeat: no-repeat;
    background-position: -200px 0;
}
.p_pop a {
    display: block;
    padding: 3px 5px;
    border-bottom: 1px solid #FFFFFF;
    white-space: nowrap;
}
.hidefocus {
    outline: none;
}
.topnav_pop li span {
    display: none;
}
.p_pop li:last-child a {
    border: none;
}
#ct, .n, .w {
    padding-top: 15px;
    border: none;
    background: transparent none !important;
}
#ct {
    min-height: 300px;
}
.wp {
    width: 970px;
    margin: 0 auto;
}
.cl {
    zoom: 1;
}
.ct2 .mn {
    float: right;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 1em;
}
.mn {
    display: inline;
    width: 760px !important;
    overflow: hidden;
}
.mn .bm {
    border: 1px solid #dddddd;
    border-radius: 5px;
}
.bm {
    background: #FFF;
    zoom: 1;
}
.bm, .bn {
    margin-bottom: 10px;
}
.mn .bm .bm_h {
    background: #ffffff;
    border-width: 0px 0px 1px;
    border-color: #dddddd #dddddd #ebebeb #dddddd;
    border-radius: 5px 5px 0 0;
}
.bm_h {
    height: 32px;
    line-height: 36px;
    border-style: solid;
    color: #7f7f7f;
    padding: 0 10px;
    white-space: nowrap;
    overflow: hidden;
}
h1.mt {
    font-size: 12px;
}
.mt {
    margin: 0;
    padding: 0;
}
.bm_c {
    padding: 10px;
}
.pbm {
    padding-bottom: 10px !important;
}
.mbm {
    margin-bottom: 10px !important;
}
.bbda {
    border-bottom: 0px dashed #CDCDCD;
}
.xw0 {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 400;
}
.pf_l li {
    float: left;
    width: auto;
    margin-right: 35px;
    color: #5a5a5a;
}
.u_profile li {
    padding: 3px 0px 3px 0px;
}
ul li, .xl li {
    list-style: none;
}
.pf_l em {
    padding-right: 2px;
    color: #666;
}
em, cite, i {
    font-style: normal;
}
.xi1 {
    font-weight: normal;
}
.xi1, .onerror {
    color: #F26C4F;
    font-weight: bold;
}
.cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.xg2 {
    color: #666;
}
.cl a {
    color: #8d8d8d;
}
ul li a {
    color: #8d8d8d;
}
a {
    color: #8F8F8F;
    text-decoration: none;
}
pipe {
    margin: 0 5px;
    color: #CCC;
}
.table_show, #pcr {
    border: 2px solid #f4f4f4;
    width: 100%;
    margin: 15px 0;
}
table {
    empty-cells: show;
    border-collapse: collapse;
}
.table_show th, #pcr th {
    color: #acacac;
}
.table_show th, .table_show td, #pcr td, #pcr th {
    padding: 11px 0 11px 8px;
}
caption, th {
    text-align: left;
    font-weight: 400;
}
.group_show {
    position: absolute;
    top: 0px;
    right: 0px;
}
.group_show li {
    float: left;
    margin-left: 30px;
}
.u_profile li {
    padding: 3px 0px 3px 0px;
}
.xg1, .xg1 a {
    color: #999 !important;
}
#pbbs, #psts .pf_l {
    overflow: hidden;
    border: solid #f4f4f4;
    border-width: 2px 2px 1px 1px;
}
#pbbs div, #psts .pf_l div {
    float: left;
    width: 357px;
    border-bottom: 1px solid #f4f4f4;
}
#pbbs .th, #psts .pf_l .th {
    width: 84px;
    border: solid #f4f4f4;
    border-width: 0 1px 0 1px;
    color: #acacac;
}
#pbbs span, #psts .pf_l span {
    padding: 11px 0 11px 10px;
    display: inline-block;
    color: #5a5a5a;
}
#psts {
    margin-top: 20px;
}
.ct2 .sd {
    float: left;
    margin-left: 10px;
    margin-right: 0px;
    border: 1px solid #e7e7e7;
    background: #ffffff;
    border-radius: 5px;
    width: 180px;
    overflow: hidden;
}
.sd {
    display: inline;
    margin-right: 10px;
    min-height: 0;
}
.ct2 .sd #pcd {
    border-radius: 5px 5px 0 0;
}
#pcd {
    padding: 15px 4px 15px 6px;
}
.hm {
    text-align: center;
}
#pcd .hm img {
    border: 0px;
    border-color: transparent;
    border-radius: 5px;
    padding: 2px;
    background: #F7F7F7;
}
.avtm img {
    width: 120px;
    height: auto;
}
a img {
    border: none;
}
#pcd h2 {
    margin: 10px auto 0;
}
.xs2 {
    font-size: 14px !important;
}
.xl2 li {
    float: left;
    margin: 2px 0;
    padding: 0;
    width: 50%;
    height: 1.5em;
    overflow: hidden;
}
.ul_diy a {
    background: url(../images/profile/space_index_img.png) no-repeat 4px -176px;
}
.ul_list a {
    padding: 2px 0 2px 20px;
    background-position: 0 50%;
    background-repeat: no-repeat;
}
.ul_contect a, .ul_msg a {
    background: url(../images/profile/space_index_img.png) no-repeat 0px -85px;
}
.ul_avt a {
    background: url(../images/profile/space_index_img.png) no-repeat 3px -158px;
}
.ul_profile a {
    background: url(../images/profile/space_index_img.png) no-repeat 0px -140px;
}
#ft {
    border-top: 1px solid #CCC;
    _margin-top: 10px;
}
#ft {
    padding: 21px 0 23px;
    border-top: 1px solid #CDCDCD;
    line-height: 1.8;
    color: #7E7E7E;
    background-color: #2F2F2F;
}
#ft .wp, #category_lk .wp {
    width: 960px;
}
#flk {
    text-align: center;
    font-size: 12px;
}
fieldset, img {
    border: 0;
}
#flk a {
    color: #cdcdcd;
}
a, ins {
    text-decoration: none;
    color: #000000;
}
a {
    color: #8F8F8F;
    text-decoration: none;
}
.pipe {
    margin: 0 5px;
    color: #CCC;
}
#flk img {
    vertical-align: middle;
}
a img {
    border: none;
}
.xs0 {
    font-family: Tahoma,Helvetica,sans-serif;
    font-size: 0.83em;
    -webkit-text-size-adjust: none;
}

